<link rel="stylesheet" href="./css/index.css">
<div id="contenedorId" class="contenedor ">
<div class="box" >
    <a href="/marvkare">Marvkare</a>
</div>

<div id="box" class="box">
    <a   href="/rememberThis">Remember this</a>
</div>

<div class="box">  
    <a href="/webThings">Web Things</a>
</div>
</div>
<div class="Pcolors">
    <h3>Paleta de colores</h3>
    <a href="">Color 1</a>
    <a href="">Color 2</a>
    <a href="">Color 3</a>
    <a href="">Color 4</a>
    <a href="">Color 5</a>
</div>

<footer>

</footer>
<script type="" src="./js/index.js"></script>