body{
    padding: 0;    
    margin: 0%;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContainer{
    display: flex;
    
}

.box {
    margin: 5px;
    background-color: darkorchid;
    border-radius: 3px;
    padding: 5px;
    
    
}

.words{
    
    margin: 4px;
    border-bottom-style: solid;    
    border-color: rgb(20, 202, 20);
    justify-content: center;
    display: flex;
}


.button{
    background-color: rgb(168, 164, 192);
    margin-left: 5px;
    padding: 2px;
    border-radius: 3px;
    color: firebrick;
    align-items: flex-end;
}

.title{
    background: gray;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
}

#wordOne{
    visibility: hide;
}
.form{
    display: block;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}